#members
	.member
		%div{:class => "image grid_2 alpha"}	
			%a{:href => "/about"}
				%img{:alt => "", :src => "/images/team/tomasstefano.jpg"}/
		%div{:class => "about grid_8 omega"}
			%h2 Tomas Stefano
			%p
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			%ul.contact
				%li.email
					%a.url{:href => "mailto:tomas_stefano@rubycasts.com"} tomas_stefano@rubycasts.com
				%li.twitter
					%a.url{:href => "http://twitter.com/tomas_stefano"} tomas_stefano
		%br.clear/
		.member
			%div{:class => "image grid_2 alpha"}	
				%a{:href => "/about"}
					%img{:alt => "", :src => "/images/team/emersonvinicius.jpg"}/
			%div{:class => "about grid_8 omega"}
				%h2 Emerson Vinicius
				%p
					Programador desde de muito cedo, por volta dos 12/13 anos já estava fuçando em PHP e 
					antes disso HTML e CSS. Desdo começo de 2010 tenho estudado Ruby e seus Framework.
					Minha 
					%a{:href=>"http://twitter.com/projdeLei"} primeira (mini)App
					em Ruby usei Sinatra, tenho mexido com Rails em alguns projetos em localhost.
				%ul.contact
					%li.email
						%a.url{:href => "mailto:duke@rubycasts.com.br"} duke@rubycasts.com.br
					%li.twitter
						%a.url{:href => "http://twitter.com/emersonvinicius"} @emersonvinicius
			%br.clear/
			.member
				%div{:class => "image grid_2 alpha"}	
					%a{:href => "/about"}
						%img{:alt => "", :src => "/images/team/tomas_stefano.jpg"}/
				%div{:class => "about grid_8 omega"}
					%h2 Marcio
					%p
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					%ul.contact
						%li.email
							%a.url{:href => "mailto:tomas_stefano@rubycasts.com"} tomas_stefano@rubycasts.com
						%li.twitter
							%a.url{:href => "http://twitter.com/tomas_stefano"} tomas_stefano
				%br.clear/
