<div class="teamMember">
  <a href="/about"><img alt="" height="160" src="#" width="160"></a>
  <div class="copy">
    <h3>Tomas Stefano</h3>
    <p>Bla bla</p>
    <ul>
      <li class="iconEmail"><a class="email" href="#">contato@rubycast.com</a></li>
      <li class="iconTwitter"><a href="http://twitter.com/tomas_stefano" class="external">tomas_stefano</a></li>
    </ul>
   <div>                                                                                                  	<br class="clear">
</div>

<div class="teamMember">
  <a href="/about"><img alt="" height="160" src="#" width="160"></a>
  <div class="copy">
    <h3>Marcio</h3>
    <p>Bla bla</p>
    <ul>
      <li class="iconEmail"><a class="email" href="#">contato@rubycast.com</a></li>
      <li class="iconTwitter"><a href="http://twitter.com/marciogm" class="external">marciogm</a></li>
    </ul>
   <div>                                                                                                  	<br class="clear">
</div>

<div class="teamMember">
  <a href="/about"><img alt="" height="160" src="#" width="160"></a>
  <div class="copy">
    <h3>Duke</h3>
    <p>Bla bla</p>
    <ul>
      <li class="iconEmail"><a class="email" href="#">contato@rubycast.com</a></li>
      <li class="iconTwitter"><a href="http://twitter.com/tomas_stefano" class="external">tomas_stefano</a></li>
    </ul>
   <div>                                                                                                  	<br class="clear">
</div>
