#contact
  %form
    %div.input
      %label{:for => "nome"} Nome
      %input{:id  => "nome"}
    %div.input
      %label{:for => "email"} Email
      %input{:id  => "email"}
    %div.input
      %label{:for => "message"} Mensagem
      %textarea{:id  => "message"}
    %input{:type => "submit"}