
<div id="current-episode" class="episode">
	<div class="last-episode">
		<div class='top'>
			<div class="episode-description">
				<div class="current-video-episode">
					<img src="/images/feature_screenshot_01.jpg" />
				</div>
				<h2 class="episode-title">
					Ultimo Episodio do Rubycasts!
				</h2>
				<span>
					No Ultimo episodio vou falar sobre o Ultimo episodio(Recursivo??)
				</span>
			</div>
		</div>
	</div>
</div>
