<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Rubycasts</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
  </head>
  
  <body>
    <div>
      <h1>RubyCasts(Aqui vai o Logo!)</h1>
    </div>

    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="videos">Vídeos</a></li>
      <li><a href="/about">Sobre</a></li>
      <li><a href="/contact">Contato</a></li>
    </ul>

    <div id="content">
      <%= yield %>
    </div>
  
  </body>
</html>
