!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%title Rubycasts
		%link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/text.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/960.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/typogridphy.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/application.css", :rel => "stylesheet"}/
		/[if IE] <script>var e=("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(',');for(var i=0;i<e.length;i++){document.createElement(e[i]);}</script>
	%body
		#container.container_12
			%section{:class => "grid_2 push_9", :id => "social"} 
				= partial("social")
			%span.clear
			%header{:class => "grid_5 push_1"}
				%h1#site-name Rubycasts
			%nav{:class => "grid_5 omega push_1"}
				%ul
					%li 
						%a{:href => "/"} Home
					%li 
						%a{:href => "#"} Episodios
					%li
						%a{:href => "/about"} Sobre
					%li 
						%a{:href => "#"} Contato
			%section{:class => "grid_10 push_1", :id => "content"}
				= yield
			%footer{:class => "grid_10 push_1"}
				%p{:class => "grid_8 alpha"}
					Rubycasts.com &copy Alguns direitos reservados
				%div{:class => "grid_2 omega"}
					= partial("social")
		%script{:src => "/javascripts/application.js"}
