#body {
  display: inline;
  float: left;
  min-height: 400px;
  padding: 45px 40px 0px 0px;
  width: 577px;
}

.clear {
  clear: both;
  font-size: 0px;
  height: 0px;
  line-height: 0;
}
.teamMember {
  margin: 0px 0px;
  width: 577;
}
.teamMember img {
  background: #fff;
  border: solid 1px #000;
  display: inline;
  float: left;
  margin: 25px 15px 0px 0px;
  padding: 5px;
}

.teamMember .copy {
  display: inline;
  float: right;
  width: 385px;
}

.teamMember .h3 {
  color: #fff;
  margin: 0px 0px 10px;
}

.teamMember .copy p {
  line-height: 24px;
  margin: 0px 0px 10px;
}

.teamMember .copy ul {
  height: 20px;
}

.teamMember .copy li {
  color: #fff;
  display: inline;
  float: left
  list-style: none outside;
  margin: 0px 20px 0px 1px;
}

.teamMember .iconTwitter {
  background: url(/images/icons/twitter.png) no-repeat 0px 0px;
  font-size: 21px;
  padding: 0px 0px 0px 25px;
}

.teamMember .iconEmail {
  background: url(/images/icons/email.png) no-repeat 0px 0px;
  font-size: 21px;
  padding: 0px 0px 0px 25px;
}

.teamMember .iconRss {
  background: url('../public/images/rss.png')
}
