/* Rubycasts layout file */

a{
  text-decoration: none;
}

body {
  background: url(/images/background.gif) repeat scroll 0 0 transparent;
  color: #333333;
  font: 12px/22px Georgia,Arial,Helvetica,sans-serif;
}

#container, #footer .inner {
  margin: 0 auto;
  width: 960px;
}

#page {
  background: url(/images/backgrounds.jpg) repeat-x scroll center top transparent;
  position: relative;
}

#containers {
  background: url(/images/main_background.jpg) repeat-x scroll center top transparent;	
}

#logo{
  background: url(/images/logo.png) no-repeat 0 0;
  height: 92px;
  width: 320px;
  float: left;
  text-indent: -15000px;
  margin: 25px;
}

nav {
  display: block;
  font-size: 2em;
  height: 150px;
}

nav ul {
  float: right;
  position: relative;
  right: 10px;
  top: 50px;
}

nav ul#social {
	margin: 20px;
	text-align: right;
}

#social .feeds{
  background: url(../images/feeds_rubycasts.png) no-repeat;
  width: 94px;
  height: 34px;
  text-indent: -15000px;
  float: left;
}

#social .twitter{
  background: url(../images/twitter_rubycasts.png) no-repeat;
  width: 123px;
  height: 24px;
  text-indent: -15000px;
  float: right;
}

#social li {
  padding: 0;
}

nav li {
	display: inline;
    padding: 0 15px 0 20px;
    position: relative;
}

nav li:last-child{
  margin-right: 0;
}

nav a{
  font-size: 1.2em;
  color: #fff;
  text-shadow: #ccc 0px 1px 0px;
  padding: .2em .5em;
}

a:hover{
  background: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  color: #b61600 !important;
}

#content {
  overflow: hidden;
}

#data {
  height: 305px;
  margin: 0 0 31px;
  padding: 15px;
  position: relative;
}

#current-episode {
  display: block;
  margin-bottom: 45px;
  padding-bottom: 45px;
}

#current-episode-player {
  margin: 60px 0 0 0;
}

.current-episode-content {
  left: 820px;
  position: absolute;
  top: 230px;
  width: 435px;
}

.current-episode-content a {
  color: #b61600;
}

#episode-title h2 {
  color: #414D5D;
  font-size: 25px;
}

.episode-content p {
  color: #414D5D;
}

#information-box {
  float: left;
  width: 640px;
}

#latest-episodes {
  background: #fff;
  border: 1px solid #D7D4D4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 15px;
}

#information-box .latest {
  border: 2px dashed #BEBEBE;
  padding: 25px 4px 25px 25px;
}

#information-box li {
  border-bottom: 2px dashed #CACACA;
  margin: 0 0 15px;
  overflow: hidden;
  width: 552px;
}

#information-box a {
  color: #414D5D;
  font-size: 20px;
}

#sidebar {
  float: right;
  width: 286px;
}

#sidebar div.widget {
  margin-bottom: 30px;
  overflow: hidden;
}

#search-form {
  padding: 4px 0 0 0;
}

.search {
  background: url(../images/search_background.png) no-repeat scroll left top transparent;
  height: 35px;
  padding: 0;
  text-align: right;
}

.search input {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
}

.search #type-search {
  color: #b61600;
  font-size: 15px;
  margin: 2px 0 0 14px;
  padding: 4px;
  width: 230px;
}

#footer {
  background: url(../images/footer_background.png) repeat-x;
  color: #4D4C4C;
  font-size: 10px;
  margin-top: 30px;
  overflow: hidden;
  padding: 10px 0;
}

#footer p {
  font-size: 12px;
}