/* Rubycasts layout file */

body{
  background: #000 url(../images/body.png) repeat-x center top;
  font: 62.5% "Helvetica Neue", Helvetica, Arial, "Sans Serif";
}
a{
  color: #990000;
  text-decoration: none;
}
h1{
  font-size: 4em;
  margin: 0 0 .5em;
}
h2{
  font-size: 2.5em;
  margin: .5em 0 .2em;
}
h3{
  font-size: 1.8em;
  margin: .2em 0 .1em;
}
p{
  font-size: 1.4em;
}
header, section, footer{
  display: block;
}
#container{
  margin: 0 auto;
  width: 960px;
}
#container>header{
  position: relative;
  height: 90px;
  padding: 3em;
}
#logo{
  background: url(/images/logo.png) no-repeat 0 0;
  height: 92px;
  width: 320px;
  float: left;
  text-indent: -15000px;
}
nav{
  position: absolute;
  top: 2.5em;
  right: 0;
  font-size: 2em;
}
nav li{
  float: left; 
  margin-right: 1px;
}
nav li:last-child{
  margin-right: 0;
}
nav a{
  font-size: 1.2em;
  color: #373737;
  text-shadow: #ccc 0px 1px 0px;
  display: block;
  padding: .2em .5em;
}
nav a:hover{
  color: #5d0000;
}
header #social{
  position: absolute;
  right: 0;
  bottom: 10px;
}
#social li{
  float: left;
  margin-left: 2em;
}
#social .feeds{
  background: url(../images/feeds_rubycasts.png) no-repeat;
  width: 94px;
  height: 34px;
  text-indent: -15000px;
  display: block;
}
#social .twitter{
  background: url(../images/twitter_rubycasts.png) no-repeat;
  width: 123px;
  height: 24px;
  text-indent: -15000px;
  display: block;
}
section{
  background: #F1EEE7;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  webkit-box-shadow: 0px 2px 3px #ffffff;
  moz-box-shadow: 0px 2px 3px #ffffff;
  box-shadow: 0px 2px 3px #ffffff;
  overflow: hidden;
  padding: 2%;
}
#current_episode time{
  font-size: .5em;
}
#current_episode p{
  font-size: 2em;
}
#current_episode .video-js-box{
  float: left;
}
aside{
  float: right;
  width: 30%;
  margin: 1em 0;
}
aside #search{
  text-align: right;
}
aside #episodes{
  
}
#tags li{
  float: left;
  margin-right: 5px;
}
#tags .size_11{
  font-size: 1.1em;
}
#tags .size_12{
  font-size: 1.2em;
}
#tags .size_15{
  font-size: 1.5em;
}
#tags .size_18{
  font-size: 1.8em;
}
#tags .size_20{
  font-size: 2.0em;
}
#tags .size_23{
  font-size: 2.3em;
}
footer{
  border-top: 1px solid #333;
  margin: 1em 0 0;
  padding: 3em 0;
  clear: both;
  overflow: hidden;
}
footer, footer a{
  color: #666;
  font-size: 1.2em;
}
footer ul li{
  float: left;
  margin-right: 1em;
  line-height: 3em;
}
footer #social{
  float: right;
}