%header
  %h1
    %a{:href => '/'} RubyCasts
  %nav
    %ul
      %li
        %a{:href => '#'} Episódios
      %li
        %a{:href => '/about'} Sobre
      %li
        %a{:href => '#'} Feedback
  #social
    %ul
      %li
        %a.feeds{:href => '#'} Feeds
      %li
        %a.twitter{:href => '#'} Twitter
