%header
	#logo
		%a{:href => '/'}
			%img{:alt => "RubyCasts", :src => '/images/rubycasts_logo.png'}
	%nav
		%ul{:id => 'menu'}
			%li
				%a{:href => '#'}Episódios
			%li
				%a{:href => '/about'} Sobre
			%li
				%a{:href => '#'} Feedback
			%li
				%a{:href => '#', :id => 'twitter'} Twitter(Colocar imagem)
