%ul{:class => 'pages'}
  %li
    %a{:href => '/'} Episódios
  %li
    %a{:href => '/about'} Sobre
  %li
    %a{:href => 'http://rubycasts.uservoice.com'} Feedback

%ul{:id => 'social'}
  %li
    %a.feeds{:href => '/feeds.xml'}
  %li
    %a.twitter{:href => 'http://twitter.com/rubycasts'}