%ul{:class => 'pages'}
  %li
    %a{:href => '/'} Episódios
  %li
    %a{:href => '/about'} Sobre
  %li
    %a{:href => '#'} Feedback

%ul{:id => 'social'}
  %li
    / FIXME: PUT the right link when the rss is ready
    %a.feeds{:href => '/feeds'}
  %li
    %a.twitter{:href => 'http://twitter.com'}