%ul{:class => 'pages'}
  %li
    %a{:href => '#'} Episódios
  %li
    %a{:href => '/about'} Sobre
  %li
    %a{:href => '#'} Feedback

%ul{:class => 'external-links'}
  %li
    %a.feeds{:href => '#'} Feeds
  %li
    %a.twitter{:href => '#'} Twitter