#sidebar
  %div{:class => 'search widget'}
    %form#search-form
      %input{:type => "search", :placeholder => 'Search', :id => 'type-search'}
      %input{:type => "image", :src => '/images/search.png'}
