#information-box
  %div.whitebox
    .member
      %a{:href => "/about"}
        %img{:alt => "Tomás D'Stefano", :src => "/images/team/tomasstefano.jpg"}/
      %h2 Tomas D'Stefano
      %p
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      %div.contact
        %p.email
          %a.url{:href => "mailto:tomas_stefano@rubycasts.com.br"} tomas_stefano@rubycasts.com.br
        %p.twitter
          %a.url{:href => "http://twitter.com/tomas_stefano"} @tomas_stefano
    .member
      %a{:href => "/about"}
        %img{:alt => "Emerson", :src => "/images/team/emersonvinicius.jpg"}/
      %h2 Emerson Vinicius
      %p
        Emerson Vinicius, 18 anos. Atualmente eu trabalho na equipe de Rails da Gonow Tecnologia. Você pode ver meus projetos opensource in Github.
      %div.contact
        %p.email
          %a.url{:href => "mailto:duke@rubycasts.com.br"} duke@rubycasts.com.br
        %p.twitter
          %a.url{:href => "http://twitter.com/emersonvinicius"} @emersonvinicius
    .member.last
      %a{:href => "/about"}
        %img{:alt => "Marcio", :src => "/images/team/tomasstefano.jpg"}/
      %h2 Marcio
      %p
        Sobre o Marcio
      %div.contact
        %p.email
          %a.url{:href => "mailto:tomas_stefano@rubycasts.com.br"} marciogm@rubycasts.com.br
        %p.twitter
          %a.url{:href => "http://twitter.com/tomas_stefano"} @marciogm