#information-box
  %div.whitebox
    .member
      %a{:href => "/about"}
        %img{:alt => "Tomás D'Stefano", :src => "/images/team/tomasstefano.jpg"}/
      %h4 Tomas D'Stefano
      %p
        Desenvolvedor Ruby desde 2007 e apaixonado por novas tecnologias e por novas idéias, no seu tempo livre gosta de fazer apresentações sobre como se tornar um desenvolvedor melhor e um indíviduo melhor. Atualmente está começando um empreendimento, sua primeira start-up: a SucesSoft, =D.
      %div.contact
        %p.twitter
          Twitter:
          %a.url{:href => "http://twitter.com/tomas_stefano"} @tomas_stefano
    .member
      %a{:href => "/about"}
        %img{:alt => "Emerson", :src => "/images/team/emersonvinicius.jpg"}/
      %h4 Emerson Vinicius
      %p
        Emerson Vinicius, 18 anos. Atualmente trabalha na equipe de Rails da Gonow Tecnologia. Você pode ver seus projetos opensource no Github.
      %div.contact
        %p.twitter
          Twitter
          %a.url{:href => "http://twitter.com/emersonvinicius"} @emersonvinicius
    .member.last
      %a{:href => "/about"}
        %img{:alt => "Marcio", :src => "/images/team/marcio.jpg"}/
      %h4 Marcio
      %p
        
      %div.contact
        Twitter
        %p.twitter
          %a.url{:href => "http://twitter.com/tomas_stefano"} @marciogm