body section
	display: block

a
	text-decoration: none

img
	border: none

#content
	margin: 0
	padding: 0
	width: 100%

#logo
	float: left

#logo img
	height: 110px

#menu
	list-style: none
	margin-right: 100px
	text-align: right

#menu li
	display: inline

#menu a:hover
	background: #DB1463

#current_episode
	height: 450px

#episode-content
	float: left

.video-js-box
	float: right

#other_episodes
	margin-bottom: 30px
