#current_episode
	= partial :episode_content, :locals => {:episode => @episode}
	= partial :player, :locals => {:episode => @episode}

#comments
	%span
		Comentários
	- @episode.comments.each_with_index do |comment, index|
		%h4
			= index
		%span
			= comment.content
	- if current_rubycasts_user
		%form{:action => '/comments/create', :method => 'post'}
			%label{:for => 'body'} Comentário:
			%textarea{:name => 'comment'}
			%input{:type => 'Submit', :value => "Criar Comentário"}
	- else
		%p
			Para comentar os episódios você precisa
			%a{:href => '/auth/github'} autenticar no GitHub:
	