= partial :episode_content, :locals => {:episode => @episode}

#information-box
  %div.whitebox
    %h4.comment-title
      Comentários
    - if current_user
      %form{:action => "/#{@episode.id}/comments/create", :method => 'post'}
        %label{ :for => 'body' } Comentário
        %textarea{:name => 'body'}
        %input{:type => 'Submit', :value => "Criar Comentário"}
    - else
      %p
        Para comentar os episódios você precisa
        %a{:href => '/auth/github'} autenticar no GitHub
    %ul
      - @episode.comments.each do |comment| 
        %li.comment
          = comment.body