
- unless @episodes.empty?
  - @episode = @episodes.shift
  = partial :episode_content, :locals => {:episode => @episode}

= partial :episodes, :locals => {:episodes => @episodes }

/ = partial :sidebar