!!! 5
%html
	%head
		%title RubyCasts
		%script{:src => '/javascripts/player_html_five.js', :type => 'text/javascript', :charset => 'utf-8'}
		%script{:src => '/javascripts/application.js', :type => 'text/javascript', :charset => 'utf-8'}
		%link{:href => '/stylesheets/player_html_five.css', :rel => 'stylesheet'}
		%link{:href => "/stylesheets/application.css", :rel => "stylesheet"}
	%body
		= partial :header
		= yield
