!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title RubyCasts 
    %link{:href => '/stylesheets/reset.css', :rel => 'stylesheet', :media => "screen"}
    %link{:href => '/stylesheets/application.css', :rel => 'stylesheet', :media => "screen"}
    %link{:href => '/stylesheets/player_html_five.css', :rel => 'stylesheet'}
  %body
    #container
      %header
        %a{:id => "logo", :href => '/'} RubyCasts
        %nav
          = partial :menu
        #social
          %ul
            %li
              %a.feeds{:href => '#'} Feeds
            %li
              %a.twitter{:href => '#'} Twitter
      %section#content
        = yield
      %footer
        = partial :menu
        #social
          %ul
            %li
              %a.feeds{:href => '#'} Feeds
            %li
              %a.twitter{:href => '#'} Twitter

      %script{:src => '/javascripts/player_html_five.js', :type => 'text/javascript'}
      %script{:src => '/javascripts/application.js', :type => 'text/javascript'}
