#sign_in
   %form{ :action => "/try_to_login", :method => "post"}
      %fieldset
         %label{ :for => "Login" } Login:
         %input{ :type => "text", :name => "Login"}
         %label{ :for => "Password" } Password:
         %input{ :type => "text", :name => "Password"}
         %input{ :type => 'submit', :value => 'Sign in'}