#sign_in
   %form{ :action => "/try_to_login", :method => "post"}
      %fieldset
         %label{ :for => "email" } Email:
         %input{ :type => "text", :name => "email"}
         %label{ :for => "Password" } Password:
         %input{ :type => "text", :name => "password"}
         %input{ :type => 'submit', :value => 'Sign in'}