#sign_in
   %form{ :action => "create_episode", :method => "post"}
      %fieldset
         %label{ :for => "Title" } Title:
         %input{ :type => "text", :name => "title"}
         %label{ :for => "Description" } Description:
         %input{ :type => "text", :name => "description"}
         %input{ :type => 'submit', :value => 'Create'}